version: '3'
services:
    app:
        image: speech2text
        build: ./docker
        volumes:
            - ./:/mnt/app
            - ./var/data/key.json:/mnt/key.json
        ports:
            - "8000:8000"
        working_dir: /mnt/app
        command: "bin/console server:run 0.0.0.0:8000"
        env_file:
            - .env

    mysql:
        image: mysql:5.7
        volumes:
            - mysql-data:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: speech2text

    redis:
        image: redis:4.0

volumes:
    mysql-data: ~