# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: 'en'
    security.random.default_string_length: 16
    filesystem.tmp_chunk_dir: '%kernel.project_dir%/var/tmp/chunk'
    filesystem.tmp_audio_dir: '%kernel.project_dir%/var/tmp/audio'
    filesystem.tmp_trans_dir: '%kernel.project_dir%/var/tmp/trans'
    filesystem.web_audio_dir: '%kernel.project_dir%/public/audio'
    filesystem.web_trans_dir: '%kernel.project_dir%/public/trans'
    googlecloud.storage.default_bucket: 'developer-test-1'


services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        public: false       # Allows optimizing the container by removing unused services; this also means
                            # fetching services directly from the container via $container->get() won't work.
                            # The best practice is to be explicit about your dependencies anyway.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php}'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    App\AudioUpload\ChunkMerger:
        arguments:
            $chunkDataDir: '%filesystem.tmp_chunk_dir%'

    Google\Cloud\Storage\StorageClient:
        arguments: ~

    Google\Cloud\Speech\SpeechClient:
        arguments:
            - languageCode: 'en-US'

    Google\Cloud\Storage\Bucket:
        factory: 'Google\Cloud\Storage\StorageClient:bucket'
        arguments: ['%googlecloud.storage.default_bucket%']

    App\EventListener\PostLoadSubscriber:
        tags:
            - { name: doctrine.event_subscriber, connection: default }

    Symfony\Component\Serializer\Normalizer\DateTimeNormalizer:
        public: false
        tags: [serializer.normalizer]
        arguments: ['Y-m-d H:i:s']

    App\Command\CreateTranscriptCommand:
        arguments:
            $tmpAudioDir: '%filesystem.tmp_audio_dir%'
            $tmpTransDir: '%filesystem.tmp_trans_dir%'
            $webTransDir: '%filesystem.web_trans_dir%'

    App\Enqueue\TranscriptionProcessor:
        arguments:
            $projectDir: '%kernel.project_dir%'
        tags:
            - { name: enqueue.client.processor }